{{ form_start(form) }}
    {{ form_widget(form) }}
        
        {# OK #}
        {# <a class="btn btn-info" href="#">Retour</a> #}
        
        {# NOT OK #}
        {# <a class="btn btn-info" href="app.request.headers.get('referer')">Retour</a> #}
        
        {# OK #}
        <a class="btn btn-info" href="{{ path('trick_show', {'id': 2 }) }}">Retour</a>

        {# <a class="btn btn-info" href="{{ path('trick_show', {'id': media.getTrick()  }) }}">Retour</a> #}


        <button class="btn btn-warning">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
