{% extends 'base.html.twig' %}

{% block title %}Media index{% endblock %}

{% block body %}
    <h1>Media index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Md_trick_id</th>
                <th>Md_auth_id</th>
                <th>Md_type</th>
                <th>Md_name</th>
                <th>Md_desc</th>
                <th>Md_path</th>
                <th>Md_crea_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medium in media %}
            <tr>
                <td>{{ medium.id }}</td>
                <td>{{ medium.mdTrickId }}</td>
                <td>{{ medium.mdAuthId }}</td>
                <td>{{ medium.mdType }}</td>
                <td>{{ medium.mdName }}</td>
                <td>{{ medium.mdDesc }}</td>
                <td>{{ medium.mdPath }}</td>
                <td>{{ medium.mdCreaDate ? medium.mdCreaDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('media_show', {'id': medium.id}) }}">show</a>
                    <a href="{{ path('media_edit', {'id': medium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('media_new') }}">Create new</a>
{% endblock %}
