{% extends 'base.html.twig' %}

{% block title %}Media{% endblock %}

{% block body %}
    <h1>Media</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medium.id }}</td>
            </tr>
            <tr>
                <th>Md_trick_id</th>
                <td>{{ medium.mdTrickId }}</td>
            </tr>
            <tr>
                <th>Md_auth_id</th>
                <td>{{ medium.mdAuthId }}</td>
            </tr>
            <tr>
                <th>Md_type</th>
                <td>{{ medium.mdType }}</td>
            </tr>
            <tr>
                <th>Md_name</th>
                <td>{{ medium.mdName }}</td>
            </tr>
            <tr>
                <th>Md_desc</th>
                <td>{{ medium.mdDesc }}</td>
            </tr>
            <tr>
                <th>Md_path</th>
                <td>{{ medium.mdPath }}</td>
            </tr>
            <tr>
                <th>Md_crea_date</th>
                <td>{{ medium.mdCreaDate ? medium.mdCreaDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('media_index') }}">back to list</a>

    <a href="{{ path('media_edit', {'id': medium.id}) }}">edit</a>

    {{ include('media/_delete_form.html.twig') }}
{% endblock %}
