{% extends 'base.html.twig' %}

{% block title %}Trgroup index{% endblock %}

{% block body %}
    <h1>Trgroup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Gr_name</th>
                <th>Gr_desc</th>
                <th>Gr_crea_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trgroup in trgroups %}
            <tr>
                <td>{{ trgroup.id }}</td>
                <td>{{ trgroup.grName }}</td>
                <td>{{ trgroup.grDesc }}</td>
                <td>{{ trgroup.grCreaDate ? trgroup.grCreaDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('trgroup_show', {'id': trgroup.id}) }}">show</a>
                    <a href="{{ path('trgroup_edit', {'id': trgroup.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('trgroup_new') }}">Create new</a>
{% endblock %}
