{% extends 'base.html.twig' %}

{% block title %}Trgroup{% endblock %}

{% block body %}
    <h1>Trgroup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trgroup.id }}</td>
            </tr>
            <tr>
                <th>Gr_name</th>
                <td>{{ trgroup.grName }}</td>
            </tr>
            <tr>
                <th>Gr_desc</th>
                <td>{{ trgroup.grDesc }}</td>
            </tr>
            <tr>
                <th>Gr_crea_date</th>
                <td>{{ trgroup.grCreaDate ? trgroup.grCreaDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('trgroup_index') }}">back to list</a>

    <a href="{{ path('trgroup_edit', {'id': trgroup.id}) }}">edit</a>

    {{ include('trgroup/_delete_form.html.twig') }}
{% endblock %}
