{% extends 'base.html.twig' %}

{% block title %}Videos index{% endblock %}

{% block body %}
    <h1>Videos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Vi_name</th>
                <th>Vi_desc</th>
                <th>Vi_path</th>
                <th>Vi_trick_id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.viName }}</td>
                <td>{{ video.viDesc }}</td>
                <td>{{ video.viPath }}</td>
                <td>{{ video.viTrickId }}</td>
                <td>
                    <a href="{{ path('videos_show', {'id': video.id}) }}">show</a>
                    <a href="{{ path('videos_edit', {'id': video.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('videos_new') }}">Create new</a>
{% endblock %}
