{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <h1>Message</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Me_trick_id</th>
                <td>{{ message.meTrickId }}</td>
            </tr>
            <tr>
                <th>Me_text</th>
                <td>{{ message.meText }}</td>
            </tr>
            <tr>
                <th>Me_author</th>
                <td>{{ message.meAuthor }}</td>
            </tr>
            <tr>
                <th>Me_crea_date</th>
                <td>{{ message.meCreaDate ? message.meCreaDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('message_index') }}">back to list</a>

    <a href="{{ path('message_edit', {'id': message.id}) }}">edit</a>

    {{ include('message/_delete_form.html.twig') }}
{% endblock %}
