<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  
  {% block stylesheets %}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">

    {# <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css')}}"> #}
    <link rel="stylesheet" type="text/css" href="{{ asset('css') }}/style.css">
  {% endblock %}

</head>

<body>

{% set current_route = app.request.get('_route') %}
{% if app.request.get('_route') == 'trick_index' %}
  {% set navbarBg = '' %}
  {% set liHomeClass = 'active' %}
  {% set liHomeClass = 'active' %}

{% else %}
  {% set navbarBg = 'navbar-opacity' %}
  {% set liHomeClass = '' %}
{% endif %}


{# ================================================================================================================ #}
  <!--Navigation-->
  <header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark {{navbarBg}}">
      
      <a class="navbar-brand" href="{{ path('trick_index') }}"><img id="snow-logo" src="{{ asset('images') }}/logo.png" alt="Logo SnowTricks" /></a>
      {{current_route}}

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
          
          {# <li class="nav-item {{ app.request.cookies.get('Page_Home') }}"> #}
          <li class="nav-item {{ liHomeClass }}">
            <a class="nav-link" href="{{ path('trick_index') }}">Accueil<span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{{ path('trick_index') }}#trickGallery">Figures</a>
          </li>
          
          {% if app.user %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
          
          {% else %}

            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_registration') }}">Inscription</a>
            </li>
          {% endif %}
          
        </ul>
      </div>
    </nav>
</header>

{# ================================================================================================================ #}
<!--Main-->
<main>
  {% block body %}{% endblock %}
</main>

{# ================================================================================================================ #}
{% block footer %}
  <footer><p>2019 &copy; Laurent</p></footer>
{% endblock %}

{# ================================================================================================================ #}
{% block javascripts %}
<!-- JQuery First !-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>

<!-- Personal JavaScript -->
<script type="text/javascript" src="{{ asset('js') }}/app.js"></script>

{% endblock %}

</body>
</html>
