{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}
    <h1>Liste des Tricks</h1>

    <table class="table" style="width="80%"; border: 1px blue solid">
        <thead style="text-align: left">
            <tr style="border: 1px blue solid">
                <th style="border: 1px solid; width:5%">Id</th>
                <th style="border: 1px solid; width:15%">Nom</th>
                <th style="border: 1px solid">Description</th>
                <th style="border: 1px solid; text-align: center; width:10%">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trick in tricks %}
            <tr>
                <td style="border: 1px solid #444">{{ trick.id }}</td>
                <td style="border: 1px solid #444">{{ trick.title }}</td>
                <td style="border: 1px solid #444">{{ trick.description }}</td>
                <td style="border: 1px solid #444; text-align: center">
                    <a href="{{ path('trick_show', {'id': trick.id}) }}">show</a>
                    <a href="{{ path('trick_edit', {'id': trick.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    <a href="{{ path('trick_new') }}">Créer un nouveau Trick</a>
{% endblock %}
