{% extends 'base.html.twig' %}

{% block title %}
    {{page_title}}
{% endblock %}

{% block body %}

<div class="container">
        {# <div class="heigh-100">&nbsp;</div> #}
        <br>
        <div class="mt-3 flex-container trick-show-title">
            <div class="col-2">&nbsp;</div>
            <div class="col-5"> 
                <h2><strong>{{ trick.name }}</strong></h2>
            </div>
            <div class="col-4"> 
                <h3>Catég. {{ trick.category.name }}</h3>
            </div>
        </div>

    {# <pre>
        {{ dump(trick) }}
        {{ dump(media_list) }}
        {{ dump(comment_list) }}
    </pre> #}
    
    <div class="row trick-full">
        <div class="col-md-2">&nbsp;</div>
        
        <div class="col-sm-12 col-md-8">
            <img src="{{ asset('images') }}/{{ trick.cover }}" alt="{{ trick.cover }}" />

            <span class="about card-icons">
                <a title="Editer" href="{{ path('trick_edit', {'id': trick.id}) }}">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                
                <form method="post" action="{{ path('trick_delete', {'id': trick.id}) }}"
                    onsubmit="return confirm('Etes-vous certain de vouloir supprimer ce trick ?');">
                
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                    
                    <button title="Supprimer" class="btn-delete"><i class="fas fa-trash-alt"></i></button>
                </form>
            </span>
        </div>

        <div class="col-md-2">&nbsp;</div>
    </div>
    
    {# Infos relatives au trick #}
    <div class="text-center mt-3">
        <table class="table trick-show">
            <thead>
                <tr>
                    <th>Figure</th>
                    <th>Catégorie</th>
                    <th>Auteur</th>
                    <th>Créée le</th>
                    {% if not trick.updatedAt == null %}
                        <th>Mise à jour</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>{{ trick.name }}</strong></td>
                    <td>{{ trick.category.name }}</td>
                    <td>{{ trick.username.username }}</td>
                    <td>{{ trick.createdAt ? trick.createdAt|date('d-M-y H:i') : '' }}</td>
                    {% if not trick.updatedAt == null %}
                        <td>{{ trick.updatedAt ? trick.updatedAt|date('d-M-y H:i') : '' }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div> {# End Infos trick #}

    {# User must be connected to add media #}
    {% if app.user %}
        <div class="text-center">
            <a class="btn btn-info" href="{{ path('media_new', {'id' : trick.id} ) }} ">Ajouter un média</a>
        </div>
    {% endif %}

    <!--Gallery-->
    <div id="trickGallery" class="mt-3">
        {# <h2>Gallerie de photos et vidéos</h2> #}
        <div class="flex mt-3">

            {# Boucle sur tous les médias #}
            {% for media in media_list %}

                <div class="card card-show-trick">

                    {# Check file extension #}
                    {% set mediaType = media.medianame|split('.') %}
                    {# {{ dump(mediaType)  }} #}

                    {# Images #}
                    {% if mediaType[1] == 'jpg' or mediaType[1] == "png" %}
                        <img class="card-img-top" src="{{ asset('images') }}/{{ media.mediaName }}" alt="{{ media.name }}" />

                    {# Videos #}
                    {% else %}
                        <video class="card-img-top" width="144" height="96" controls>
                            <source src="{{ asset('images') }}/{{ media.mediaName }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% endif %}
 
                     <span class="about card-icons">
                
                        <form method="post" action="{{ path('media_delete', {'id': media.id}) }}"
                            onsubmit="return confirm('Etes-vous certain de vouloir supprimer le media {{ media.mediaName }} ?');">
                        
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ media.id) }}">
                            
                            <button title="Supprimer" class="btn-delete"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </span>

                    <div class="card-body">
                        <h4 class="card-title text-truncate">{{ media.name }}</h4>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
    <!-- End Gallery-->

    <div class="mt-5 mb-5">
        <label id="trick-description" class="mr-3">Description</label>
        {{ trick.comment }}
    </div>


    {# Ajout d'un commentaire (si user connecté) #}
    {% if app.user %}
        {# <h3>Nouveau commentaire</h3> #}
        
        <div class="container mt-3">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                    <button class="btn btn-warning mt-sm-n2">{{ button_label|default('Enregistrer') }}</button>
            {{ form_end(form) }}
        </div>
    {% endif %}

    {# Liste (inversée) des commentaires #}
    {# The comment/description of the trick #}
    <h3  class="mt-3">Vos commentaires sur cette figure :</h3>
    <div class="trick-comments mt-3">
        {% for comment in comment_list %}
            <p> {{ comment.createdAt ? comment.createdAt|date('d-M-y H:i') : '' }} - <b>{{ comment.author.username }}</b> : {{ comment.message }} </p>
        {% endfor %}
    </div>

    <hr>

    <div class="text-center">
        <a class="btn btn-info" href="{{ path('trick_index') }}#trickGallery">Retour</a>
    </div>

</div>

{% endblock %}
